<!DOCTYPE html>
<html>
  <head>
    <title>Bestfriend TreeHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Bestfriend TreeHouse">
    <meta property="og:description" content="A full-stack clone of AirBnB where users can explore, book and review listings">
    <meta property="og:image" content="https://bestfriend-treehouse-dev.s3.amazonaws.com/BestfriendTreehousegif.gif">
    <meta property="og:url" content="http://bestfriend-treehouse.herokuapp.com/#/">  


    <link href="https://bestfriend-treehouse-seeds.s3.amazonaws.com/f39e3999c24445afb5a328b6c5a2f040.png" rel="icon" type="image/x-icon"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://kit.fontawesome.com/a5666e50f9.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
